@media screen and ( max-width : 768px ) {

  body {
    height: max-content;
  }

  .top-bar {
    align-items: center;
    flex-flow: column wrap;
    height: min-content;
    justify-content: center;
    width: 100%;
  }

  .facebook-logo {
    margin: 20px;
  }

  .facebook-login {
    background-color: rgb(110, 149, 226);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
  }

  .form-group input {
    font-size: xx-small;
  }

  .form-group label {
    font-size: 13px;
  }

  .form-group span {
    font-size: xx-small;
  }

  .form-control {
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
  }

  .main-content {
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
  }

  .left-content {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 50px auto;
    max-width: 80%;
  }

  .left-content .facebook-slogan {
    text-align: center;
  }

  .right-content {
    background-color: rgb(245, 243, 243);
    border: 2px solid rgb(66, 103, 178);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.562);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 50px;
  }

  .right-content .title-right-container {
    align-self: center;
    color: rgb(66, 103, 178);
  }

  .right-content p {
    align-self: center;
    color: rgb(66, 103, 178);
  }

  .form-container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
  }

  .date-tittle {
    align-self: center;
    color: rgb(66, 103, 178);
  }

  .gender-tittle {
    align-self: center;
    color: rgb(66, 103, 178);
  }

  .gender-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@media screen and ( max-width : 460px ) {

  .left-content {
    padding: 0;
    width: 100%;
  }

  .left-content .facebook-slogan {
    font-size: medium;
    width: 100%;
  }

  .left-content img {
    width: 100%;
  }

  .right-content {
    padding: 10px;
  }
}
