body , html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.cadastro {
  display: flex;
  flex-direction: column;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.form-control {
  align-self: flex-end;
  margin-left: 15px;
}

.form-control button {
  background-color: rgb(66, 103, 178);
  border: 1px solid rgb(26, 60, 128);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
}

.facebook-login {
  align-items: flex-end;
  color: white;
  display: flex;
  padding: 15px 0;
}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.right-content form div {
  display: flex;
}

.right-content form div , .right-content form label , .right-content form input {
  margin: 5px 0;
}

.right-content form input {
  padding: 5px 10px;
}

.right-content form div input {
  display: inline-block;
  width: 50%;
}

.error {
  display: none;
}

.personalizado {
  display: none;
}
