.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 3rem;
  justify-content: space-between;
}

.facebook-logo {
  display: flex;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.cadastro {
  display: flex;
  flex-direction: column;
}

.nameComplete {
  display: flex;
}
