.aditional-data {
  display: flex;
  flex-direction: column;
}

.facebook-login {
  display: flex;
}

.form-control {
  align-self: flex-end;
}

.form-group {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.form-register {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.last-name-form-register , .name-form-register {
  border-radius: 3px;
  margin-left: 5px;
  width: 120px;
}

.left-content {
  width: 800px;
}

.main-content {
  display: flex;
  justify-content: space-around;
}

.radio-buttons {
  display: flex;
}

.right-content {
  width: 300px;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

label {
  font-weight: 500;
}
