.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
}

.form-group {
  color: white;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.facebook-login {
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.form-control {
  align-self: flex-end;
}

.right-content {
  width: 300px;
}

.form-full-name {
  display: flex;
  justify-content: center;
}

.form-register {
  display: flex;
  flex-direction: column;
}

.genders {
  display: flex;
}
