body {
  font-family: helvetica, sans-serif;
  margin: 0;
  width: 100%;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 5px 80px;
}

.facebook-login {
  color: white;
  display: flex;
  font-size: 13px;
  font-weight: 600;
}

.image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-login {
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.form-group a {
  color: #98b1d6;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
  text-decoration: none;
}

.form-control {
  align-self: flex-end;
}
