body {
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(66, 103, 178);
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
}

.facebook-login {
  color: white;
  display: flex;
  font-weight: 500;
}

input {
  border: groove 1px rgb(9, 9, 138);
  border-radius: 3px;
  margin-right: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.button-login {
  background-color: rgb(75, 110, 195);
  border: solid 1px rgb(9, 9, 138);
  border-radius: 3px;
  color: white;
  font-weight: 600;
}

.button-login:hover {
  background-color: rgb(85, 120, 205);
}

.main-content {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 1200px;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.register {
  display: flex;
  flex-direction: column;
}

.name-last-name {
  display: flex;
}

.name {
  margin-right: 0;
  width: 50%;
}

.last-name {
  width: 50%;
}

.genders {
  display: flex;
  flex-direction: row;
}

.facebook-register {
  background-color: rgb(80, 155, 80);
  border: solid 1px rgb(60, 135, 60);
  border-radius: 3px;
  padding: 5px;
  width: 200px;
}

.facebook-register:hover {
  background-color: rgb(90, 165, 90);
}

.radio-gender {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 8px;
}

.radio-gender input {
  margin: 0;
}

.error-message {
  color: red;
  font-weight: 600;
}
