body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.34;
  margin: 0;
  padding: 0;
}

.button-login {
  background-color: rgb(66, 103, 178);
  border: 1px solid rgb(41, 72, 125);
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  text-decoration: none;
  text-shadow: none;
  vertical-align: top;
}

.celular-email-novasenha {
  background-color: white;
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
  cursor: text;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 8px 10px;
  padding-bottom: 8px;
  width: 340px;
}

.form-control {
  align-self: flex-end;
  display: flex;
  padding: 0 0 0 13px;
}

.main-content {
  background: linear-gradient(white, rgb(211, 216, 232));
  display: flex;
  justify-content: center;
  padding-top: 84px;
  width: 100%;
}

.email-phone {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 14px;
}

.esqueceu-conta {
  color: rgb(156, 180, 216);
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
}

.esqueceu-conta:hover {
  text-decoration: underline;
}

.input-login {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 14px;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  border-bottom: 1px solid rgb(19, 55, 131);
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.facebook-logo {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  width: 150px;
}

.logo-position {
  margin-right: 128px;
}

.position-nome-sobrenome {
  display: flex;
}

.senha-login {
  color: white;
  font-size: 15px;
}

.senha {
  border: 1px solid rgb(29, 42, 91);
  margin: 4px 0;
  width: 145px;
}

.section-position-right {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.senha-input {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 14px;
}

.left-content {
  margin-left: 150px;
  width: 800px;
}

.right-content {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: -13px 11px 0 0;
  width: 300px;
}

.user-email-phone {
  border: 1px solid rgb(29, 42, 91);
  margin: 4px 0;
  width: 145px;
}

.user-email-phone-label {
  color: white;
  font-size: 15px;
}

.p-section-left-main {
  color: rgb(59, 89, 152);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.nome-sobrenome {
  margin-bottom: 10px;
  padding: 8px 10px;
  padding-bottom: 8px;
  width: 153px;
}

.input-data-nascimento {
  font-size: 13px;
  padding: 5px;
  width: 172px;
}

.div-data-nascimento {
  display: flex;
}

.label-div-data-nascimento {
  color: #90949c;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 9px;
}

.image-moreinfo {
  height: 19px;
  margin-left: 10px;
  margin-top: 5px;
  width: 19px;
}

.genero-label {
  color: #90949c;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 9px;
}

.escolha-genero {
  color: rgb(29, 33, 41);
  font-size: 17px;
  line-height: 18px;
  padding: 0 10px 0 3px;
}

.termos {
  color: #777;
  font-size: 11px;
  padding: 10px 0;
  width: 300px;
}

.button-cadastro {
  background: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
  border: 1px solid rgb(59, 110, 34);
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgb(201, 209, 198);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 20px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  width: 155px;
}

.button-cadastro:hover {
  background: linear-gradient(rgb(121, 188, 100), rgb(87, 136, 67));
}

.pagina-empresa-celebridade {
  color: #666;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 10px;
  padding-top: 15px;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}
