body {
  align-items: center;
  background: linear-gradient(white, #d3d8e8);
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 800px;
=======
>>>>>>> 892569e62f6029c964d5ad257d16ed47b8f76aef
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 83px;
  justify-content: space-between;
  width: 100%;
}

.facebook-logo {
  justify-content: flex-start;
}

.facebook-login {
  color: white;
  display: flex;
}

.form-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.left-content {
  display: flex-start;
  width: 800px;
  
}

.right-content {
  display: flex-end;
  width: 300px;
}

.form-name {
  display: flex;
  flex-direction: column;
}

.first-last {
  display: flex;
  justify-content: space-between;
}

.firstname {
  margin-bottom: 10px;
  margin-right: 8px;
  width: 50%;
}

.lastname {
  width: 50%;
}

.gender {
  display: flex;
  justify-content: space-between;
}

.create-account input {
  border-color: #bdc7d8;
  border-radius: 5px;
  height: 25px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

span {
  color: red;
  font-size: 18px;
  font-weight: 900;
}
