body {
  margin: 0;
}

.top-bar {
  background: rgb(66, 103, 178);
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.facebook-logo {
  align-self: center;
}

.facebook-login {
  align-items: center;
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

/* Atributos abaixo do align-self são um quebra galho para centralizar o botão. */
.form-control {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  margin-left: 10px;
}

/* width é pra centralizar o conteúdo e ficar mais parecido com o proposto. */
.main-content {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.wrapper {
  display: flex;
}

input {
  margin-bottom: 10px;
  margin-left: 10px;
}

.button-login {
  align-self: auto;
}

.gender-container {
  display: inline-flex;
}
