.facebook-login {
  display: flex;
}

.form-control {
  align-self: flex-end;
}

.form-group {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.left-content {
  width: 800px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.register input {
  width: 50%;
}

.right-content {
  width: 300px;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}
