a {
  color: white;
  font-size: small;
}

.birthdate {
  display: flex;
  flex-direction: column;
}

.btn-login {
  align-self: center;
}

.form-control {
  align-self: flex-end;
  background-color: rgb(66, 103, 178);
  color: white;
}

.form-group {
  align-items: baseline;
  color: white;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-top: 10px;
  width: 450px;
}

.form-group input {
  border: 1.5px solid black;
}

.fullName {
  display: flex;
}

.left-content {
  width: 800px;
}

.main-content {
  display: flex;
  justify-content: center;
}

.radios {
  display: flex;
}

.right-content {
  width: 300px;
}

.top-bar {
  align-items: flex-end;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}
