a {
  color: #007bff;
  font-size: 10px;
  text-decoration: none;
}

.termos {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
}

.facebook-login {
  align-items: center;
  color: white;
  display: flex;
}

.form-control {
  align-self: flex-end;
}

.form-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 12px;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 83px;
  justify-content: space-between;
}

.top-bar img {
  align-items: center;
  justify-content: flex-start;
}

.main-content {
  align-items: center;
  background: linear-gradient(white, #aec2ec);
  display: flex;
}

.left-content {
  margin-left: 100px;
  margin-top: -120px;
  width: 800px;
}

.right-content {
  align-items: center;
  flex-direction: column;
  width: 300px;
}

.sloganClass {
  color: rgb(14, 56, 95);
  font-size: 20px;
  width: 50%;
}

.inputTextEsp {
  border-radius: 5px;
  height: 30px;
  margin-bottom: 15px;
  margin-left: 0.9px;
  width: 46.3%;
}

.inputText {
  border-radius: 5px;
  height: 30px;
  margin-bottom: 15px;
  width: 100%;
}

.inputRadio {
  display: flex;
  font-size: 12.5px;
  justify-content: space-around;
}

.main-content button {
  background: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
  border-color: rgb(59, 110, 34) rgb(59, 110, 34) rgb(44, 81, 21);
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgb(164, 227, 136);
  color: white;
  margin: 20px;
  padding: 10px;
  width: 80%;
}
