.top-bar{
    display: flex;
    background-color: rgb(66, 103, 178);
    justify-content: space-between;
    align-items: center;
}

body{
    background-color: brown;
}

.facebook-login{
    display: flex;
    
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-control{
    align-self: flex-end;
}

.main-content{
    display: flex;
    justify-content: center;

}

.left-content{
    width: 800px;
}

.right-content{
    width: 300px;
}