body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  background-image: linear-gradient(rgba(78, 105, 162, 1), rgba(59, 89, 152, 1) 50%);
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  min-height: 100px;
  padding: 0 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;
}

.form-group {
  color: white;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.form-control button {
  align-self: flex-end;
  background-color: rgb(75, 115, 195);
  border: 1px solid rgb(29, 52, 97);
  color: white;
  cursor: pointer;
  height: 26px;
  width: 60px;
}

.form-group input {
  height: 20px;
  width: 170px;
}

.form-group p {
  color: rgb(156, 170, 197);
  margin-top: 49px;
  position: absolute;
}

.facebook-logo {
  justify-content: flex-start;
  width: 170px;
}

.facebook-login {
  display: flex;
  justify-content: center;
}

.form-control {
  align-self: flex-end;
  padding-left: 10px;
}

.main-container {
  background-image: linear-gradient(to bottom, white, rgba(59, 89, 152, 1));
  display: flex;
  justify-content: center;
}

.main-content {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  padding: 50px;
  width: 100%;
}

.left-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 800px;
}

.left-content img {
  width: 80%;
}

.left-content p {
  color: rgb(66, 103, 178);
  font-weight: 600;
  width: 70%;
}

.right-content {
  width: 300px;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.form-row input {
  height: 20px;
  margin-right: 10px;
  width: 120px;
}

.form-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-column input {
  height: 20px;
  width: 260px;
}

.facebook-register {
  background-color: rgba(66, 183, 42, 1);
  border-radius: 6px;
  color: white;
  font-weight: 600;
  width: 50%;
}
