body {
  box-sizing: content-box;
  background-color: aliceblue;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.34;
  margin: 0;
  padding: 0;
}

.button-login {
  background-color: #3f61a5;
  border-color: rgb(143, 171, 228);
  color: white;
  font-weight: bold;
}

.button-register {
  align-self: center;
  background-color: rgb(99, 156, 13);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.facebook-login {
  align-items: center;
  color: white;
  display: flex;
}

.facebook-logo {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}

.facebook-slogan {
  font-size: 20px;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}

.form-control {
  align-self: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-size: small;
}

.firstname-lastname {
  display: flex;
  flex-direction: row;
}

.gender {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.left-content {
  width: 800px;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem auto 0;
  padding: 0.6rem 12.5%;
}

.right-content {
  width: 300px;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 12.5%;
}
