body {
  font-family: sans-serif;
  margin: 0;
}

.button-register {
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #a4e388;
  color: white;
  cursor: pointer;
  font-size: 19px;
  font-weight: 700;
  line-height: 126%;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.date {
  box-sizing: border-box;
  cursor: pointer;
  padding: 7px;
  width: 100%;
}

.facebook-login {
  align-items: center;
  align-self: flex-end;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: small;
  height: 65px;
  justify-content: flex-end;
  width: 40%;
}

.facebook-login div {
  margin-right: 10px;
  width: 30%;
}

.facebook-login input {
  width: 90%;
}

.form-control {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 50px;
}

.form-control button {
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.gender {
  font-size: 12px;
  margin-right: 10px;
}

.gender input {
  margin: 0;
  padding: 0;
}

.gender-content {
  display: flex;
  justify-content: space-between;
}

.information {
  width: 100%;
}

.left-content {
  color: #0e385f;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  margin-top: 40px;
  width: 800px;
  word-spacing: -1px;
}

.main-content {
  align-items: center;
  background: linear-gradient(white, #d3d8e8);
  display: flex;
  justify-content: center;
  min-height: 530px;
}

.open-account {
  display: flex;
  flex-wrap: wrap;
}

.open-account div {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 100%;
}

.open-account .date , .registration {
  border-color: #bdc7d8;
  border-radius: 5px;
  margin: 5px;
  padding: 8px 10px;
  width: 377px;
}

.registration-name {
  width: 37%;
}

.right-content {
  width: 300px;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  min-height: 82px;
}

@media ( max-width : 480px ) {

  .facebook-login {
    display: none;
  }

  .left-content {
    display: none;
  }

  .right-content {
    display: none;
  }

  .top-bar {
    justify-content: center;
  }
}
