.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 82px;
  justify-content: space-between;
  margin: 0;
}

body {
  background: linear-gradient(white, rgb(211, 216, 232));
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

label {
  color: white;
  padding-bottom: 5px;
  padding-left: 1px;
}

h1 {
  color: rgb(51, 51, 51);
  font-size: 36px;
  margin-bottom: 5px;
  padding-top: 20px;
}

.button-login {
  background: #4267b2;
  border: 1px solid #29487d;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding: 2px 6px;
  white-space: nowrap;
}

.quick-easy {
  color: #1d2129;
  font-size: 19px;
}

.facebook-logo {
  font-size: 14px;
  margin-top: 17px;
  width: 170px;
}

.facebook-login {
  display: flex;
}

.facebook-slogan {
  color: #0e385f;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  margin-top: 35px;
  max-width: 600px;
  word-spacing: -1px;
}

.form-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.cadastro {
  border-color: #bdc7d8;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin: 10px 5px 10px 0;
  padding: 2px 4px;
  width: 134px;
}

.large {
  width: 275px;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  padding-right: 30px;
  width: 800px;
}

.right-content {
  width: 300px;
}

.label-form {
  color: #90949c;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 10px;
}

.birthdate {
  font-size: 13px;
  height: 30px;
  padding: 5px;
}

.label-radio {
  color: #1d2129;
  font-size: 12px;
  margin: 0;
  padding: 0 5px 0 2px;
}

.input-radio {
  display: inline-block;
  margin-top: 10px;
}

.button-register {
  background: linear-gradient(#79bc64, #578843);
  border: 1px solid;
  border-radius: 5px;
  color: white;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 15px 0;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.form-response {
  color: #0e385f;
  font-size: 18px;
  line-height: 24px;
  margin-top: 35px;
  word-spacing: 2px;
}
