body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-around;
}

.facebook-login {
  display: flex;
}

.facebook-login label {
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
}
