form > input {
  margin: 0.5em 0;
}

.form-group {
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto 0.5em;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.facebook-login {
  display: flex;
}

.form-control {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.first-last-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-last-name > input {
  width: 45%;
}

.all-genders {
  display: flex;
  margin: auto 0.5em;
}
