body {
  font-family: helvetica, sans-serif;
  margin: 0;
  width: 100%;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 82px;
  justify-content: space-between;
  padding: 5px 80px;
}

.facebook-login {
  color: white;
  display: flex;
  float: right;
  font-size: 13px;
  font-weight: 600;
}

.image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-login {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.form-group a {
  color: #98b1d6;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
  text-decoration: none;
}

.form-control {
  align-self: flex-end;
}

.button-login {
  background-color: rgb(101, 132, 196);
  border: 1px solid rgb(71, 94, 139);
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 6px;
  text-align: center;
}

.button-login:hover {
  background-color: #365899;
  border-color: #29487d;
}


.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 80px;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
  margin-right: 100px;
}

.fullName {
  display: flex;
}

.radioButtons {
  display: flex;
  font-size: medium;
}
