.facebook-login {
  display: flex;
}

.form-control {
  align-self: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}
