body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.custom-input {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-size: small;
}

.form-group label {
  margin-bottom: 0.1rem;
}

.gender {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 12.5%;
}

.top-bar img {
  width: 10rem;
}

.main-content {
  display: flex;
  justify-content: center;
  margin: 2rem auto 0;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.facebook-login {
  align-items: center;
  display: flex;
}

.form-control {
  align-self: flex-end;
}

.form-control button {
  background-color: rgb(86, 115, 201);
  border: 1px solid rgb(44, 44, 44);
  color: white;
  margin-top: 1.1rem;
}

.facebook-login div {
  margin-left: 0.5rem;
}

.form-register {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.form-name {
  margin: 0 auto;
  width: 140px;
}
