body {
  align-items: center;
  background: linear-gradient(white, #d3d8e8);
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  font-size: 36px;
}

h2 {
  color: #1d2129;
  font-size: 19px;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 83px;
  justify-content: space-between;
  width: 100%;
}

.facebook-logo {
  justify-content: flex-start;
}

.facebook-login {
  color: white;
  display: flex;
}

.form-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.left-content {
  color: #0e385f;
  font-size: 20px;
  margin-bottom: 200px;
  width: 800px;
}

.right-content {
  width: 300px;
}

.form-name {
  display: flex;
  flex-direction: column;
}

.first-last {
  display: flex;
  justify-content: space-between;
}

.firstname {
  margin-bottom: 10px;
  margin-right: 8px;
  width: 50%;
}

.lastname {
  width: 50%;
}

.gender {
  color: rgb(70, 69, 69);
  display: flex;
  justify-content: space-between;
}

.data-gender {
  color: rgb(97, 97, 97);
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.create-account input {
  border: 1px solid #bdc7d8;
  border-color: #bdc7d8;
  border-radius: 5px;
  font-size: 18px;
  height: 25px;
  margin-bottom: 10px;
  padding: 7px 10px;
}

.hidden {
  display: none;
}

span {
  color: red;
  font-size: 18px;
}

.button-facebook-register {
  background: linear-gradient(#67ae55, #578843);
  border: 1px solid rgb(1, 61, 1);
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #a4e388;
  color: white;
  font-size: 19px;
  margin-bottom: 80px;
  min-width: 180px;
  padding: 7px 20px;
  text-align: center;
}

.button-facebook-register:hover {
  background: linear-gradient(#6ebb5b, #578843);
  border: 1px solid rgb(1, 61, 1);
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #a4e388;
  color: white;
  font-size: 19px;
  margin-bottom: 80px;
  min-width: 180px;
  padding: 7px 20px;
  text-align: center;
}

.button-facebook-register2 {
  background: rgb(5, 172, 5);
  border: 1px solid rgb(1, 61, 1);
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #a4e388;
  color: white;
  font-size: 15px;
  min-width: 140px;
  padding: 7px 20px;
  text-align: center;
}

.button-facebook-register2:hover {
  background: linear-gradient(#6ebb5b, #70d449);
  border: 1px solid rgb(1, 61, 1);
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #a4e388;
  color: white;
  font-size: 15px;
  min-width: 140px;
  padding: 7px 20px;
  text-align: center;
}

.button-login {
  background: #5378c2;
  border: 1px solid black;
  border-radius: 2px;
  color: white;
  font-size: 11px;
  line-height: 18px;
  padding: 2px 6px;
  text-align: center;
  vertical-align: top;
}

.button-login:hover {
  background: rgb(66, 103, 178);
  border: 1px solid black;
  border-radius: 2px;
  color: white;
  font-size: 11px;
  line-height: 18px;
  padding: 2px 6px;
  text-align: center;
  vertical-align: top;
}

.button-login2 {
  background: #1877f2;
  border: 1px solid rgb(1, 61, 1);
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #a4e388;
  color: white;
  font-size: 15px;
  margin-bottom: 60px;
  padding: 7px 20px;
  text-align: center;
  width: 364px;
}

.button-login2:hover {
  background: #3091ec;
  border: 1px solid rgb(1, 61, 1);
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #a4e388;
  color: white;
  font-size: 15px;
  margin-bottom: 60px;
  padding: 7px 20px;
  text-align: center;
  width: 364px;
}

.inputMobile {
  background-color: whitesmoke;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 4px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
}


@media screen and ( max-width : 680px ) {

  body {
    background: white;
  }

  .main-content {
    align-items: center;
    display: none;
    justify-content: center;
    width: 100%;
  }

  .main-content2 {
    align-items: center;
    display: none;
    justify-content: center;
    width: 100%;
  }

  .top-bar {
    align-items: center;
    background-color: rgb(66, 103, 178);
    display: flex;
    height: 83px;
    justify-content: center;
    width: 100%;
  }

  .facebook-login {
    display: none;
  }

  .form-group2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .form-control2 {
    align-self: flex-end;
    margin-top: 10px;
  }

  .right-content2 {
    width: 300px;
  }

  .form-name2 {
    display: flex;
    flex-direction: column;
  }

  .first-last2 {
    display: flex;
    justify-content: space-between;
  }

  .firstname2 {
    margin-bottom: 10px;
    margin-right: 8px;
    width: 50%;
  }

  .lastname2 {
    margin-bottom: 10px;
    width: 50%;
  }

  .gender2 {
    color: rgb(70, 69, 69);
    display: flex;
    justify-content: space-between;
  }

  .data-gender2 {
    color: rgb(97, 97, 97);
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .create-account2 input {
    border: 1px solid #bdc7d8;
    border-color: #bdc7d8;
    border-radius: 5px;
    font-size: 18px;
    height: 25px;
    margin-bottom: 10px;
    padding: 7px 10px;
  }

  .hidden {
    display: none;
  }

  span {
    color: red;
    font-size: 18px;
  }
}


@media screen and ( min-width : 680px ) {

  .facebook-login-mobile {
    display: none;
  }

  .main-content2 {
    display: none;
  }

  .button-facebook-register2 {
    display: none;
  }
}
