body {
  background: linear-gradient(white, rgb(211, 216, 232));
  margin: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-logo {
  justify-content: flex-start;
}

.facebook-login {
  color: white;
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 15px 0;
}

.form-control {
  align-self: flex-end;
  padding-bottom: 15px;
  padding-right: 10px;
}

.main-content {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.right-content {
  display: flex;
  flex-flow: wrap column;
  width: 300px;
}

.left-content {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.radio-button {
  font-size: 15px;
}

.visible {
  display: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> 905deaae83607b7088c86a56bd2a243b8b05d9ab
