body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.facebook-login {
  display: flex;
}

.main-content {
  background: linear-gradient(white, #d3d8e8);
  display: flex;
  justify-content: center;
  padding: 300px 0;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.field {
  display: flex;
}

.input-form-account {
  margin-left: 2%;
  margin-top: 2%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}
