body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.left-content {
  width: 800px;
}
