body , html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-group {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.facebook-login {
  color: white;
  display: flex;
}

.main-content {
  display: flex;
}

.left-content {
  width: 800px;
}
