body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}
