body {
  margin: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  color: white;
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.input-email-senha {
  margin-right: 10px;
}

.form-control {
  align-self: flex-end;
  justify-content: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.main-content form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.input-form {
  margin: 2px;
  width: 45%;
}

.input-form-big {
  margin: 2px;
  width: 95.5%;
}

.radio {
  display: flex;
  flex-wrap: nowrap;
}
